<?xml version="1.0"?>
<!DOCTYPE module SYSTEM
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="AnnotationLocation"/>
    </module>
    <module name="TreeWalker">
        <module name="UnusedImports"/>
    </module>
    <module name="TreeWalker">
        <module name="AvoidNestedBlocks"/>
    </module>
    <module name="TreeWalker">
        <module name="AvoidStarImport"/>
    </module>
</module>
