<?xml version="1.0"?>
<!DOCTYPE module SYSTEM
        "https://checkstyle.org/dtds/configuration_1_3.dtd">

<module name="Checker">
    <module name="TreeWalker">
        <module name="AnnotationLocation"/>
        <module name="UnusedImports"/>
        <module name="AvoidNestedBlocks"/>
        <module name="AvoidStarImport"/>
        <module name="AvoidStaticImport"/>
        <module name="ConstantName">
            <property name="applyToPublic" value="true"/>
            <property name="applyToProtected" value="true"/>
            <property name="applyToPrivate" value="true"/>
        </module>
        <module name="DefaultComesLast"/>
        <module name="EmptyBlock"/>
        <module name="EmptyCatchBlock"/>
        <module name="EmptyStatement"/>
        <module name="EqualsHashCode"/>
        <module name="LeftCurly"/>
        <module name="MissingSwitchDefault"/>
        <module name="OneStatementPerLine"/>
        <module name="RightCurly"/>
        <module name="SimplifyBooleanExpression"/>
        <module name="UnnecessaryParentheses"/>
        <module name="UnusedLocalVariable"/>
    </module>
    <module name="LineLength">
        <property name="max" value="120"/>
    </module>
</module>
